.button {
  border: none;
  outline: none;
  border-radius: 0;
  display: inline-block;
  padding: 10px;
  margin: 10px;

  &--sm {
  }

  &--lg {
  }

  &--primary {
    color: $secondary-color;
    background-color: $primary-color;
  }

  &--danger {
    color: $secondary-color;
    background-color: $danger-color;
  }
}
