<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header class="main-header clearfix">
      <nav class="nav">
        <ul class="nav-items">
          <li class="nav-item">
            <a href="#" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Feature</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Screenshots</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Team</a>
          </li>
          <li class="nav-item dropdown-toggle">
            <a href="#" class="nav-link">
              News
              <i class="fas fa-caret-down"></i>
            </a>
            <ul class="dropdown">
              <li class="nav-item">
                <a href="#" class="nav-link">Recent News</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">News One</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">News Two</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">News Three</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Contact</a>
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
